@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wrapper {
    @apply flex justify-start items-center flex-col w-full;
  }
  .contain {
    @apply flex w-[90%] max-w-[1150px];
  }
}

.rc-slider {
  height: 30px;
  border-radius: 100vh;
  border: 3px solid white;
}
.rc-slider-rail {
  height: 100%;
  top: 0;
  background-color: #785330;
  border-radius: 100vh;
}
.rc-slider-track {
  height: 100%;
  border-radius: 100vh;
  max-width: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #967c3e;
}
.rc-slider-handle {
  height: 100%;
  width: auto;
  aspect-ratio: 1/1;
  opacity: 1;
  background-color: #967c3e;
  border: 3px solid white;
}
.rc-slider-handle:hover {
  border-color: white;
}
.rc-slider-handle-dragging {
  box-shadow: none !important;
  border-color: white !important;
}
